<!DOCTYPE html>
<html>
  <head>
    <title>SecureDrop | Protecting Journalists and Sources</title>
    {% assets filters="cssmin", output="gen/source.css",
      "css/normalize.css", "css/source.css", "css/font-awesome.css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets filters="jsmin", output="gen/source.js",
      "js/libs/jquery-2.1.1.min.js", "js/source.js" %}
      <script type="javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </head>
  <body>
    <div class="warning"><strong>We recommend disabling JavaScript to protect your anonymity:</strong> <a id="disable-js" href="/howto-disable-js#lang=en">Learn how to disable it</a>, or ignore this warning to continue. <i id="warning-close" class="fa fa-times"></i></div>

    {% include 'banner_warning_flashed.html' %}
    {% set langs = ['en', 'ru'] %}
    {% set langees = {
                      
                      'submit_first_time_caption':
                                {
                                 'en':'If this is your first time submitting documents to journalists, start here.',
                                 'ru':'Если это Ваша первая отправка документов журналистам, начните здесь.'
                                },
                      'submit_first_time':
                                {
                                 'en':'Submit documents for the first time',
                                 'ru':'Отправить документы в первый раз'
                                },
                      'submit_docs_button':
                                {
                                 'en':'Submit Documents',
                                 'ru':'Отправить Документы'
                                },
                      'already_submit_question':
                                {
                                 'en':'Already submitted something?',
                                 'ru':'Уже что-то отправили?'
                                },
                      'already_submit_caption':
                                {
                                 'en':'If you have already submitted documents in the past, log in here to check for responses.',
                                 'ru':'Если Вы уже отправляли документы в прошлом, зайдите здесь для просмотра ответов.'
                                },
                      'check_response_button':
                                {
                                 'en':'Check for a response',
                                 'ru':'Проверить ответы'
                                },
                      'bugs_disclaimer':
                                {
                                 'en':'Like all software, SecureDrop may contain security bugs. Use at your own risk. Powered by SecureDrop',
                                 'ru':'Также как и другое ПО, SecureDrop может содержать ошибки безопасности. Используйте на свой риск. Используется SecureDrop версии'
                                }
                      } %}
    {% for lang in langs %}
    <div class="content" id="lang={{ lang }}">
      <div class="grid">
	{% include 'flashed.html' %}
        <div id="header">
          <img src="/static/i/{{ header_image }}" class="logo grid-item" alt="SecureDrop" width="250px">
          {% if use_custom_header_image %}
          <div class="powered">
            Powered by<br/>
            <img src="/static/i/securedrop_small.png" alt="SecureDrop">
          </div>
          {% endif %}
        </div>

        <div class="grid-item option alt">
          <h2>
              {{ langees['submit_first_time'][lang] }}
          </h2>
          <hr class="cut-out" />
          <p>{{ langees['submit_first_time_caption'][lang] }}</p>
          <a href="/generate#lang={{ lang }}" class="btn alt block" id="submit-documents-button"><i class="fa fa-cloud-upload"></i> {{ langees['submit_docs_button'][lang] }}</a>
        </div>
        <div class="grid-item option">
          <h2>
              {{ langees['already_submit_question'][lang] }}
          </h2>
          <hr class="cut-out" />
          <p>{{ langees['already_submit_caption'][lang] }}</p>
          <a href="/login#lang={{ lang }}" class="btn block"><i class="fa fa-comments"></i> {{ langees['check_response_button'][lang] }}</a>
        </div>
      </div>

      <footer>
          {{ langees['bugs_disclaimer'][lang] }} {{ version }}.
      </footer>
    </div>

    <!-- Warning bubble to help TB users disable Javascript with NoScript.
    Included here so the images can preload while the user is first
    reading the page. Hidden by default. -->
    <div class="bubble">
      <p>You appear to be using the Tor Browser. You can disable Javascript in 3 easy steps!</p> 
      <ol>
        <li>Click the <img src="static/i/no16.png" alt="NoScript icon" /> NoScript icon in the toolbar above</li>
        <li>Click <strong><img src="static/i/no16-global.png" alt="Forbid Scripts Globally" /> Forbid Scripts Globally (advised)</strong></li>
        <li>If the page does not refresh automatically, <a href="/#lang={{ lang }}">click here</a> to refresh the page</li> 
      </ol>
      <p><a href="/howto-disable-js#lang={{ lang }}">Not using the Tor Browser Bundle?</a></p>
    </div>
    {% endfor %}
  </body>
</html>
